@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGKA.ttf) format('truetype');
}
/* Variables */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}
/*Setting the size of the container */
.container {
  max-width: 871px;
  margin: 0 auto;
}
.container header {
  background: #e9ecef;
  display: flex;
  flex-direction: column;
}
.container header h1,
.container header h2,
.container header p {
  padding: 17px  0 28px 32px;
}
.container header h1 {
  font-size: 2.5rem;
}
.container header h2 {
  font-size: 1.3rem;
  /* font-weight: bolder; */
}
.container header .business-img {
  padding: 64px 0 0 32px;
}
.container header .line {
  border-top: 1px solid #eca;
  margin-left: 34px;
}
.container header .intro {
  width: 100%;
}
.container .button {
  background: #808080;
  border-radius: 6px;
  width: 155px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 25px 0 65px 32px;
}
.container .button a {
  text-decoration: none;
  color: #fff;
  padding: 15px 19px;
}
.container nav {
  display: flex;
  justify-content: flex-end;
  margin: 34px 11px 35px 0;
}
.container nav a {
  padding: 0 25px;
  text-decoration: none;
  color: #808080;
}
.container nav a:last-child {
  padding-right: 0;
}
.container nav a:hover {
  color: #333;
}
.container .about {
  display: flex;
  justify-content: space-between;
}
.container .about .left {
  width: 25rem;
  text-justify: auto;
  line-height: 1.4rem;
}
.container .about .right {
  width: 25rem;
}
.container .about .right ul li {
  border: 1px dashed #eaa;
  padding: 17px 35px;
  font-size: 1.2rem;
}
.container .about h2 {
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 28px 0 17px 0;
}
.container .contact {
  background: #e9ecef;
  padding: 33px 0 120px 0;
}
.container .contact a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 1.3rem;
  color: #212529;
}
.employment-history {
  display: flex;
  flex-direction: column;
}
.employment-history h2 {
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 28px 0 17px 0;
}
.employment-history ul.history-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.employment-history ul.history-row li {
  display: flex;
  flex: 1;
  padding: 10px;
  border-top: 2px dashed #808080;
}
.employment-history .history-row:nth-child(odd) {
  background: #e9ecef;
}
.employment-history .history-row:nth-child(4) {
  border-bottom: 2px #808080;
}
/*.class mixins */
.flex-footer {
  display: flex;
  justify-content: center;
  margin-top: 155px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 155px;
}
/* mobile version */
@media (max-width: 500px) {
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    display: none;
  }
  .nav-bar a {
    flex: 1;
    margin: 22px 0;
    padding: 22px 0;
  }
}
@media (max-width: 500px) {
  header {
    width: 100%;
    display: none;
  }
}
@media (max-width: 500px) {
  .intro .line {
    width: 80%;
  }
  .intro P {
    width: 100%;
    line-height: 1.1em;
    /* display: none; */
  }
}
@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.about .left h2,
.about .right h2 {
  padding-left: 18px;
}
@media (max-width: 500px) {
  .employment-history {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .employment-history h2 {
    margin-left: 18px;
  }
}
@media (max-width: 500px) {
  .contact {
    background: #e9ecef;
    width: 100%;
    padding: 33px 0 120px 0;
    height: auto;
  }
  .contact a {
    text-decoration: none;
    color: #212529;
    padding-left: 33px;
    font-size: 1.6rem;
  }
}
